.latarblkg {
    background-color: pink;
}
.container1 {
    color: red;
    
}
.container2 {
    color: orange;
    
}
.container3 {
    color:goldenrod;
    
}
.container4 {
    color: darkgreen;
    
}